@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --foreground-color: blue;
  --primary-text-color: white;
  --secondary-text-color: black;
  --toggle-bg: yellow;
  --light: rgb(252, 252, 249);
}

[data-theme="dark"] {
  --page: black;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-sm text-default-text;
  }

  form {
    @apply rounded-xl p-4;
  }
  label {
    @apply mt-4;
  }
  input,
  select,
  textarea {
    @apply m-1 rounded bg-card p-1;
  }
}
@layer components {
  .icon {
    @apply text-default-text text-xl;
  }
  .btn {
    @apply hover:no-underline bg-blue-accent hover:bg-blue-accent-hover tracking-wider w-full text-center text-nav font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors block;
  }

  .stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-radius: 10px;
    background-color: #47566a;
    /* background-color: #2d9596; */
    padding: 10px;
  }
  .stopwatch-time {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
  }
  .controls button {
    font-size: 13px;
    min-width: 10px;
    padding: 4px;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
    transition: var(--background-color) 0.5 ease;
  }
  .start {
    background-color: hsl(115, 100%, 40%);
  }
  .start:hover {
    background-color: hsl(115, 100%, 35%);
  }
  .stop {
    background-color: hsl(10, 90%, 50%);
  }
  .stop:hover {
    background-color: hsl(10, 90%, 25%);
  }
  .reset {
    background-color: hsl(205, 90%, 60%);
  }
  .reset:hover {
    background-color: hsl(205, 90%, 45%);
  }
  .bg-page {
    background-color: rgb(252, 252, 249);
  }
}
